
#####################################################################
# 	Probe
#####################################################################

[probe]
##	Klicky Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
pin: PG11
z_offset = 6.42
x_offset: 0 
y_offset: 19.75
speed: 4
lift_speed: 10
samples: 4
samples_result: median
sample_retract_dist: 1.0
samples_tolerance: 0.006
samples_tolerance_retries: 10

#####################################################################
# 	Homing
#####################################################################
# [safe_z_home]
# ##	XY Location of the Z Endstop Switch
# ##	Update -10,-10 to the XY coordinates of your endstop pin 
# ##	(such as 157,305) after going through Z Endstop Pin
# ##	Location Definition step.
# home_xy_position:231,357.5
# speed:100
# z_hop:10

#####################################################################
# 	Mesh
#####################################################################
[bed_mesh]
speed: 150
horizontal_move_z: 15
mesh_min: 20,20.0
mesh_max: 330,330
relative_reference_index: 40
probe_count: 9,9
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

#####################################################################
#    Gantry Adjustment Routines
#####################################################################
[quad_gantry_level]
##	Gantry Corners for 350mm Build
gantry_corners:
	-60,-10
	410,420
#	Probe points
points:
	50,25
	50,275
	300,275
	300,25
speed: 300
horizontal_move_z: 12
retries: 5
retry_tolerance: 0.007
max_adjust: 10

#####################################################################
#    Macros
#####################################################################

[gcode_macro _VERIFY_QGL]
gcode:
    {% if printer.quad_gantry_level.applied == false %}
        ECHO_INFO MSG=" QGL FAILED !!!!!! ABORT PRINT"
        { action_raise_error(" QGL FAILED !!!!!! ABORT PRINT") }
        CANCEL_PRINT
    {% else %}
        _ECHO_INFO MSG="QGL Applied Successfully"
    {% endif %}
